.DS_Store
.cache
.vscode
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
!filters/**/*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
!filters/**/*.exe
!filters/**/*.dat
!filters/**/*.msg
a.out
*.out
*.app

build

# Test environment config
tests/env.dev