# Vidi Video Open Test Configuration
# Copy file ini ke 'env.dev' dan edit sesuai kebutuhan
# File 'env.dev' di-ignore oleh .gitignore

# Folder berisi video files (.mkv, .mp4, .avi)
# Test akan pick random video dari folder ini
VIDI_TEST_VIDEO_DIR=D:\Anime\[KS] Sword Art Online BD 720P
